@use '~bootstrap/scss/bootstrap';

.jumbotron {
  height: 40vh;
  background-image: url("../images/top_img.jpg");
  background-size: cover;
  background-repeat: no-repoat;
  background-position: center;
}

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}